* {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo {
    width: 300px;
    margin-top: 18px;
    margin-left: 8px;
}

.nav-container {
    margin-left: 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    margin-right: 4px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #002060;
    color: #fff;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 33.33%;
    height: auto;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
}

.car {
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.car img {
    width: 380px;
    height: auto;
}

.car h2,
.car p {
    margin: 5px 0;
}

.buy-button {
    padding: 10px 20px;
    background-color: #002060;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #C00000;
    color: #fff;
}